.container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 100px;
}

.container > div {
  width: 384px;

}

.container > div >  button {
  width: 171px;
  float: right;
}
